<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel = "icon" href =
"https://cdn-icons-png.flaticon.com/512/455/455691.png"
        type = "image/x-icon">
    <title>Flask URL shortener</title>
</head>
<body>
<div style="border-radius: 10px; width: 320px; margin: 0 auto; background: #000; color: #fff;">
    <h1 style="text-align: center; font-family: 'Roboto', sans-serif;">Flask URL shortener</h1>
</div>
<div style="width: 500px; margin: 0 auto; background: #000; color: #fff; height: 40px;">
    <input id="inputlink" style="height: 34px; width: 440px;" type="text" name="link to short">
    <button onclick="onshort()" id="short_button" style="height: 40px;">Short</button>
</div>
<div style="width: 210px; margin: 0 auto">coded by <a href="https://github.com/barabum0"><b>barabum</b></a>         <a href="https://github.com/barabum0/flask-url-shortener"><b>github repo</b></a></div>
<script src="script.js">

</script>

</body>
</html>