<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href="https://cdn-icons-png.flaticon.com/512/455/455691.png" type = "image/x-icon">
    <title>Flask URL shortener</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
    </style>
</head>
<body>
    <div class="center-screen">
        <h1 style="font-family: 'Roboto', sans-serif;">This link does not assigned.</h1>
        <a style="font-family: 'Roboto', sans-serif;" href="/">Main page</a>
    </div>
</body>
</html>