.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#urlform {
  display: flex;
  max-width: 600px;
  width: 500px;
  background: #ff5136;
  color: #fff;
  padding-top: 0;
}

#inputlink {
  display: table-cell;
  width: 90%;
  height: 56px;
  padding: 10px 16px;
  font: 17px lato,arial;
  color: #ff5136;
  background: #fff;
  border: 0px solid #bbb;
  border-right: 0;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  margin-left: 10px;
}

#short_button {
  width: 10%;
  height: 56px;
  border: 0px solid #bbb;
  background: #fff;
  margin-left: 5px;
  font-size: 17pt;
  line-height: 100%;
  margin-right: 10px;
}

#short_button:active {
  background: #dddddd;
}

.form {
  background-color: #ff5136;

}

.logo {
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFF;
  color: #ff5136;

}

.logo_text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}